<h1 class="page-header">Users Index</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Admin</th>
      <th>Email</th>
      <th>Created</th>
      <th>Last Signed In</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.admin %></td>
        <td><%= mail_to profile.user.email %></td>
        <td><%= profile.user.created_at %></td>
        <td><%= profile.user.last_sign_in_at %></td>
        <td><%= profile.user.sign_in_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
