<%= form_for(@cluster) do |f| %>
  <% if @cluster.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@cluster.errors.count, "error") %> prohibited this cluster from being saved:</h4>

      <ul>
      <% @cluster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="btn-group right"><%= f.submit 'New', class: 'btn btn-danger' %>
  
  <%= link_to 'Back', clusters_path, class:"btn btn-default"%>
  
  </div>
<% end %>
