<div class="list-group">
  <% if @clusters.empty? %>
    <%= "Nothing here? Create a cluster to start storing links:" %>
  <% end %>
  <% @clusters.each do |cluster| %>
  <div class="list-group-item">
    <%= link_to cluster.name, cluster, class:'btn cluster-title'%> 
    <div class="btn-group right cluster-settings"><%= link_to 'Edit', edit_cluster_path(cluster), class:'btn' %>
        <%= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn' %>
    </div>

</div>

<% cluster.links.each do |link| %> 
<%= link_to link.name, link.url, class:"list-group-item" %>
<% end %>    
<%= link_to 'New Link', new_cluster_link_path(cluster), class:"list-group-item list-group-item-info" %>
</div><div class="list-group">
<% end %>
</div>
<div class="btn-group btn-group-justified">
<%= link_to 'New Cluster', new_cluster_path, class: "btn btn-lg btn-danger" %></div>
