<h1 class="page-header">Listing Clusters</h1>

<div class="list-group">
  <% @clusters.each do |cluster| %>
    <div class="list-group-item"><h4><%= cluster.name %></h4></div>    
    <% cluster.links.each do |link| %> 
    <%= link_to link.name, link.url, class:"list-group-item" %>
    <% end %>    
    <%= link_to 'New Link', new_cluster_link_path(cluster), class:"list-group-item" %>
    <div class="list-group-item"><%= link_to 'Show', cluster %> |
    <%= link_to 'Edit', edit_cluster_path(cluster) %> |
    <%= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
<%= link_to 'New Cluster', new_cluster_path, class: "new-link" %>
</div>
