<%= form_for @link, url: cluster_links_path do |f| %>
  <% if @link.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name %> <br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :weighting %><br>
    <%= f.number_field :weighting, class: 'form-control' %>
  </div>
  <%= f.hidden_field :cluster_id, :value => @link.cluster_id %>
    <div class="btn-group right"><%= f.submit 'Create new link', class: 'btn btn-danger' %>
    
    <%= link_to 'Back', clusters_path, class:"btn btn-default"%>
    </div>
<% end %>
