<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user.nil? %>
        <%= link_to "linker", root_path, class: 'navbar-brand logo' %>
      <% else %>
        <%= link_to "linker", clusters_path, class: 'navbar-brand logo'%>
        <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
          <% if current_user.nil? %>
            <li><%= link_to "signin", new_user_session_path %></li>
            <li><%= link_to "signup", new_user_registration_path %></li>
          <% else %>
            <li>
            <% if current_user.profile %>
              <%= link_to 'profile', profile_path(current_user) %>
            <% else %> 
            <%= link_to 'profile', '#' %>
            <% end %>
            </li>
            <li><%= link_to "signout", destroy_user_session_path, :method => :delete %></li>
            <% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
